Ivanna Herrera Ibarra 744614

28/08/25

# Effective Spread

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('aapl_5m_train.csv')
df

,Unnamed: 0,Timestamp,Gmtoffset,Datetime,Open,High,Low,Close,Volume
0,0,1609770600,0,2021-01-04 14:30:00,133.570007,133.611602,132.389999,132.809997,6624663.0
1,1,1609770900,0,2021-01-04 14:35:00,132.750000,132.750000,131.809997,131.889999,2541553.0
2,2,1609771200,0,2021-01-04 14:40:00,131.500000,132.339996,131.500000,132.059997,2492415.0
3,3,1609771500,0,2021-01-04 14:45:00,132.000000,132.250000,131.899993,132.250000,1859131.0
4,4,1609771800,0,2021-01-04 14:50:00,132.000000,132.018096,131.520004,131.589996,1780105.0
...,...,...,...,...,...,...,...,...,...
39574,19788,1672432800,0,2022-12-30 20:40:00,129.029998,129.130004,128.919998,129.054992,833767.0
39575,19789,1672433100,0,2022-12-30 20:45:00,129.059997,129.399993,129.020004,129.380004,2136910.0
39576,19790,1672433400,0,2022-12-30 20:50:00,129.375000,129.929992,129.330001,129.764404,2879267.0
39577,19791,1672433700,0,2022-12-30 20:55:00,129.764999,129.949996,129.619995,129.949996,3896812.0
39578,19792,1672434000,0,2022-12-30 21:00:00,129.929992,129.929992,129.929992,129.929992,NaN

In [3]:
df.drop(columns=['Unnamed: 0', 'Timestamp', 'Gmtoffset', 'Volume'], inplace=True)
df

                  Datetime        Open        High         Low       Close
0      2021-01-04 14:30:00  133.570007  133.611602  132.389999  132.809997
1      2021-01-04 14:35:00  132.750000  132.750000  131.809997  131.889999
2      2021-01-04 14:40:00  131.500000  132.339996  131.500000  132.059997
3      2021-01-04 14:45:00  132.000000  132.250000  131.899993  132.250000
4      2021-01-04 14:50:00  132.000000  132.018096  131.520004  131.589996
...                    ...         ...         ...         ...         ...
39574  2022-12-30 20:40:00  129.029998  129.130004  128.919998  129.054992
39575  2022-12-30 20:45:00  129.059997  129.399993  129.020004  129.380004
39576  2022-12-30 20:50:00  129.375000  129.929992  129.330001  129.764404
39577  2022-12-30 20:55:00  129.764999  129.949996  129.619995  129.949996
39578  2022-12-30 21:00:00  129.929992  129.929992  129.929992  129.929992

[39579 rows x 5 columns]

In [4]:
df['dt'] = df['Close'].diff()
df

,Datetime,Open,High,Low,Close,dt
0,2021-01-04 14:30:00,133.570007,133.611602,132.389999,132.809997,NaN
1,2021-01-04 14:35:00,132.750000,132.750000,131.809997,131.889999,-0.919998
2,2021-01-04 14:40:00,131.500000,132.339996,131.500000,132.059997,0.169998
3,2021-01-04 14:45:00,132.000000,132.250000,131.899993,132.250000,0.190003
4,2021-01-04 14:50:00,132.000000,132.018096,131.520004,131.589996,-0.660004
...,...,...,...,...,...,...
39574,2022-12-30 20:40:00,129.029998,129.130004,128.919998,129.054992,0.014999
39575,2022-12-30 20:45:00,129.059997,129.399993,129.020004,129.380004,0.325012
39576,2022-12-30 20:50:00,129.375000,129.929992,129.330001,129.764404,0.384400
39577,2022-12-30 20:55:00,129.764999,129.949996,129.619995,129.949996,0.185592
39578,2022-12-30 21:00:00,129.929992,129.929992,129.929992,129.929992,-0.020004

In [5]:
df = df.dropna(subset=['dt']).reset_index(drop=True)
df

,Datetime,Open,High,Low,Close,dt
0,2021-01-04 14:35:00,132.750000,132.750000,131.809997,131.889999,-0.919998
1,2021-01-04 14:40:00,131.500000,132.339996,131.500000,132.059997,0.169998
2,2021-01-04 14:45:00,132.000000,132.250000,131.899993,132.250000,0.190003
3,2021-01-04 14:50:00,132.000000,132.018096,131.520004,131.589996,-0.660004
4,2021-01-04 14:55:00,132.000000,132.089996,131.300003,131.448898,-0.141098
...,...,...,...,...,...,...
39567,2022-12-30 20:40:00,129.029998,129.130004,128.919998,129.054992,0.014999
39568,2022-12-30 20:45:00,129.059997,129.399993,129.020004,129.380004,0.325012
39569,2022-12-30 20:50:00,129.375000,129.929992,129.330001,129.764404,0.384400
39570,2022-12-30 20:55:00,129.764999,129.949996,129.619995,129.949996,0.185592
39571,2022-12-30 21:00:00,129.929992,129.929992,129.929992,129.929992,-0.020004

## Block method

In [ ]:
df_block = df.copy()

## Serial covariance

In [8]:
df_serial = df.copy()
df_serial['dt-1'] = df_serial['dt'].shift(1)
df_serial = df_serial.dropna(subset=['dt', 'dt-1']).reset_index(drop=True)
df_serial

,Datetime,Open,High,Low,Close,dt,dt-1
0,2021-01-04 14:40:00,131.500000,132.339996,131.500000,132.059997,0.169998,-0.919998
1,2021-01-04 14:45:00,132.000000,132.250000,131.899993,132.250000,0.190003,0.169998
2,2021-01-04 14:50:00,132.000000,132.018096,131.520004,131.589996,-0.660004,0.190003
3,2021-01-04 14:55:00,132.000000,132.089996,131.300003,131.448898,-0.141098,-0.660004
4,2021-01-04 15:00:00,131.544998,131.669998,131.070007,131.119995,-0.328903,-0.141098
...,...,...,...,...,...,...,...
39566,2022-12-30 20:40:00,129.029998,129.130004,128.919998,129.054992,0.014999,0.019989
39567,2022-12-30 20:45:00,129.059997,129.399993,129.020004,129.380004,0.325012,0.014999
39568,2022-12-30 20:50:00,129.375000,129.929992,129.330001,129.764404,0.384400,0.325012
39569,2022-12-30 20:55:00,129.764999,129.949996,129.619995,129.949996,0.185592,0.384400
39570,2022-12-30 21:00:00,129.929992,129.929992,129.929992,129.929992,-0.020004,0.185592

## Last operation type

In [ ]:
df['Operation_type'] = np.where(df['dt'] > 0, 'Ask', 'Bid')
df

,Datetime,Open,High,Low,Close,dt,dt-1,Operation_type
0,2021-01-04 14:40:00,131.500000,132.339996,131.500000,132.059997,0.169998,-0.919998,Ask
1,2021-01-04 14:45:00,132.000000,132.250000,131.899993,132.250000,0.190003,0.169998,Ask
2,2021-01-04 14:50:00,132.000000,132.018096,131.520004,131.589996,-0.660004,0.190003,Bid
3,2021-01-04 14:55:00,132.000000,132.089996,131.300003,131.448898,-0.141098,-0.660004,Bid
4,2021-01-04 15:00:00,131.544998,131.669998,131.070007,131.119995,-0.328903,-0.141098,Bid
...,...,...,...,...,...,...,...,...
39564,2022-12-30 20:40:00,129.029998,129.130004,128.919998,129.054992,0.014999,0.019989,Ask
39565,2022-12-30 20:45:00,129.059997,129.399993,129.020004,129.380004,0.325012,0.014999,Ask
39566,2022-12-30 20:50:00,129.375000,129.929992,129.330001,129.764404,0.384400,0.325012,Ask
39567,2022-12-30 20:55:00,129.764999,129.949996,129.619995,129.949996,0.185592,0.384400,Ask
39568,2022-12-30 21:00:00,129.929992,129.929992,129.929992,129.929992,-0.020004,0.185592,Bid

## Bid & Ask price

## Average spread