Ivanna Herrera Ibarra 744614

28/08/25

# Effective Spread

In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('aapl_5m_train.csv')
df

,Unnamed: 0,Timestamp,Gmtoffset,Datetime,Open,High,Low,Close,Volume
0,0,1609770600,0,2021-01-04 14:30:00,133.570007,133.611602,132.389999,132.809997,6624663.0
1,1,1609770900,0,2021-01-04 14:35:00,132.750000,132.750000,131.809997,131.889999,2541553.0
2,2,1609771200,0,2021-01-04 14:40:00,131.500000,132.339996,131.500000,132.059997,2492415.0
3,3,1609771500,0,2021-01-04 14:45:00,132.000000,132.250000,131.899993,132.250000,1859131.0
4,4,1609771800,0,2021-01-04 14:50:00,132.000000,132.018096,131.520004,131.589996,1780105.0
...,...,...,...,...,...,...,...,...,...
39574,19788,1672432800,0,2022-12-30 20:40:00,129.029998,129.130004,128.919998,129.054992,833767.0
39575,19789,1672433100,0,2022-12-30 20:45:00,129.059997,129.399993,129.020004,129.380004,2136910.0
39576,19790,1672433400,0,2022-12-30 20:50:00,129.375000,129.929992,129.330001,129.764404,2879267.0
39577,19791,1672433700,0,2022-12-30 20:55:00,129.764999,129.949996,129.619995,129.949996,3896812.0
39578,19792,1672434000,0,2022-12-30 21:00:00,129.929992,129.929992,129.929992,129.929992,NaN

In [10]:
df.drop(columns=['Unnamed: 0', 'Timestamp', 'Gmtoffset', 'Volume'], inplace=True)
df

                  Datetime        Open        High         Low       Close
0      2021-01-04 14:30:00  133.570007  133.611602  132.389999  132.809997
1      2021-01-04 14:35:00  132.750000  132.750000  131.809997  131.889999
2      2021-01-04 14:40:00  131.500000  132.339996  131.500000  132.059997
3      2021-01-04 14:45:00  132.000000  132.250000  131.899993  132.250000
4      2021-01-04 14:50:00  132.000000  132.018096  131.520004  131.589996
...                    ...         ...         ...         ...         ...
39574  2022-12-30 20:40:00  129.029998  129.130004  128.919998  129.054992
39575  2022-12-30 20:45:00  129.059997  129.399993  129.020004  129.380004
39576  2022-12-30 20:50:00  129.375000  129.929992  129.330001  129.764404
39577  2022-12-30 20:55:00  129.764999  129.949996  129.619995  129.949996
39578  2022-12-30 21:00:00  129.929992  129.929992  129.929992  129.929992

[39579 rows x 5 columns]

In [11]:
df['dt'] = df['Close'].diff()
df

,Datetime,Open,High,Low,Close,dt
0,2021-01-04 14:30:00,133.570007,133.611602,132.389999,132.809997,NaN
1,2021-01-04 14:35:00,132.750000,132.750000,131.809997,131.889999,-0.919998
2,2021-01-04 14:40:00,131.500000,132.339996,131.500000,132.059997,0.169998
3,2021-01-04 14:45:00,132.000000,132.250000,131.899993,132.250000,0.190003
4,2021-01-04 14:50:00,132.000000,132.018096,131.520004,131.589996,-0.660004
...,...,...,...,...,...,...
39574,2022-12-30 20:40:00,129.029998,129.130004,128.919998,129.054992,0.014999
39575,2022-12-30 20:45:00,129.059997,129.399993,129.020004,129.380004,0.325012
39576,2022-12-30 20:50:00,129.375000,129.929992,129.330001,129.764404,0.384400
39577,2022-12-30 20:55:00,129.764999,129.949996,129.619995,129.949996,0.185592
39578,2022-12-30 21:00:00,129.929992,129.929992,129.929992,129.929992,-0.020004

In [12]:
df = df.dropna(subset=['dt']).reset_index(drop=True)
df

,Datetime,Open,High,Low,Close,dt
0,2021-01-04 14:35:00,132.750000,132.750000,131.809997,131.889999,-0.919998
1,2021-01-04 14:40:00,131.500000,132.339996,131.500000,132.059997,0.169998
2,2021-01-04 14:45:00,132.000000,132.250000,131.899993,132.250000,0.190003
3,2021-01-04 14:50:00,132.000000,132.018096,131.520004,131.589996,-0.660004
4,2021-01-04 14:55:00,132.000000,132.089996,131.300003,131.448898,-0.141098
...,...,...,...,...,...,...
39567,2022-12-30 20:40:00,129.029998,129.130004,128.919998,129.054992,0.014999
39568,2022-12-30 20:45:00,129.059997,129.399993,129.020004,129.380004,0.325012
39569,2022-12-30 20:50:00,129.375000,129.929992,129.330001,129.764404,0.384400
39570,2022-12-30 20:55:00,129.764999,129.949996,129.619995,129.949996,0.185592
39571,2022-12-30 21:00:00,129.929992,129.929992,129.929992,129.929992,-0.020004

## Block method

In [13]:
df_block = df.copy()
df_block['Operation_type'] = np.where(df_block['dt'] > 0, 'Ask', 'Bid')
windows = [5, 10, 20, 50, 100]
for window in windows:
    covs = []
    spreads = []

    for i in range(len(df_block) - 2*window+1):
        block1 = df_block['dt'].iloc[i:i+window].values
        block2 = df_block['dt'].iloc[i+window:i+2*window].values

        cov = np.cov(block1, block2)[0][1]
        spread = 2 * np.sqrt(abs(cov))

        covs.append(cov)
        spreads.append(spread)

    df_block[f"cov{window}"] = [np.nan] * (2*window-1) + covs
    df_block[f"spread{window}"] = [np.nan] * (2*window-1) + spreads

    df_block[f"bid{window}"] = np.where(df_block['Operation_type'] == 'Bid', df_block['Close'], df_block['Close'] - df_block[f'spread{window}'])
    df_block[f"ask{window}"] = np.where(df_block['Operation_type'] == 'Ask', df_block['Close'], df_block['Close'] + df_block[f'spread{window}'])
with pd.option_context('display.max_columns', None):
    display(df_block)

,Datetime,Open,High,Low,Close,dt,Operation_type,cov5,spread5,bid5,ask5,cov10,spread10,bid10,ask10,cov20,spread20,bid20,ask20,cov50,spread50,bid50,ask50,cov100,spread100,bid100,ask100
0,2021-01-04 14:35:00,132.750000,132.750000,131.809997,131.889999,-0.919998,Bid,NaN,NaN,131.889999,NaN,NaN,NaN,131.889999,NaN,NaN,NaN,131.889999,NaN,NaN,NaN,131.889999,NaN,NaN,NaN,131.889999,NaN
1,2021-01-04 14:40:00,131.500000,132.339996,131.500000,132.059997,0.169998,Ask,NaN,NaN,NaN,132.059997,NaN,NaN,NaN,132.059997,NaN,NaN,NaN,132.059997,NaN,NaN,NaN,132.059997,NaN,NaN,NaN,132.059997
2,2021-01-04 14:45:00,132.000000,132.250000,131.899993,132.250000,0.190003,Ask,NaN,NaN,NaN,132.250000,NaN,NaN,NaN,132.250000,NaN,NaN,NaN,132.250000,NaN,NaN,NaN,132.250000,NaN,NaN,NaN,132.250000
3,2021-01-04 14:50:00,132.000000,132.018096,131.520004,131.589996,-0.660004,Bid,NaN,NaN,131.589996,NaN,NaN,NaN,131.589996,NaN,NaN,NaN,131.589996,NaN,NaN,NaN,131.589996,NaN,NaN,NaN,131.589996,NaN
4,2021-01-04 14:55:00,132.000000,132.089996,131.300003,131.448898,-0.141098,Bid,NaN,NaN,131.448898,NaN,NaN,NaN,131.448898,NaN,NaN,NaN,131.448898,NaN,NaN,NaN,131.448898,NaN,NaN,NaN,131.448898,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39567,2022-12-30 20:40:00,129.029998,129.130004,128.919998,129.054992,0.014999,Ask,-0.005183,0.143989,128.911003,129.054992,0.001034,0.064309,128.990683,129.054992,0.001851,0.086049,128.968943,129.054992,-0.000548,0.046804,129.008188,129.054992,-0.010052,0.200519,128.854473,129.054992
39568,2022-12-30 20:45:00,129.059997,129.399993,129.020004,129.380004,0.325012,Ask,-0.010577,0.205689,129.174315,129.380004,-0.000199,0.028237,129.351767,129.380004,0.001259,0.070957,129.309047,129.380004,0.000557,0.047191,129.332813,129.380004,-0.010005,0.200046,129.179958,129.380004
39569,2022-12-30 20:50:00,129.375000,129.929992,129.330001,129.764404,0.384400,Ask,-0.007774,0.176345,129.588059,129.764404,0.009258,0.192435,129.571969,129.764404,0.002945,0.108540,129.655864,129.764404,0.000333,0.036521,129.727883,129.764404,-0.010244,0.202426,129.561978,129.764404
39570,2022-12-30 20:55:00,129.764999,129.949996,129.619995,129.949996,0.185592,Ask,-0.007761,0.176193,129.773803,129.949996,0.008288,0.182080,129.767916,129.949996,0.001540,0.078493,129.871503,129.949996,0.000748,0.054715,129.895281,129.949996,-0.010351,0.203482,129.746514,129.949996
39571,2022-12-30 21:00:00,129.929992,129.929992,129.929992,129.929992,-0.020004,Bid,0.002810,0.106020,129.929992,130.036012,0.006288,0.158596,129.929992,130.088588,0.001410,0.075102,129.929992,130.005094,0.000619,0.049749,129.929992,129.979741,-0.010546,0.205391,129.929992,130.135383

## Serial covariance

In [14]:
df_serial = df.copy()
df_serial['dt-1'] = df_serial['dt'].shift(1)
df_serial['Operation_type'] = np.where(df_serial['dt'] > 0, 'Ask', 'Bid')
df_serial = df_serial.dropna(subset=['dt', 'dt-1']).reset_index(drop=True)
windows = [5, 10, 20, 50, 100]
for window in windows:
    covs = []
    spreads = []

    for i in range(len(df_serial) - window+1):
        block1 = df_serial['dt'].iloc[i:i+window].values
        block2 = df_serial['dt-1'].iloc[i:i+window].values

        cov = np.cov(block1, block2)[0][1]
        spread = 2 * np.sqrt(abs(cov))

        covs.append(cov)
        spreads.append(spread)

    df_serial[f"cov{window}"] = [np.nan] * (window-1) + covs
    df_serial[f"spread{window}"] = [np.nan] * (window-1) + spreads

    df_serial[f"bid{window}"] = np.where(df_serial['Operation_type'] == 'Bid', df_serial['Close'], df_serial['Close'] - df_serial[f'spread{window}'])
    df_serial[f"ask{window}"] = np.where(df_serial['Operation_type'] == 'Ask', df_serial['Close'], df_serial['Close'] + df_serial[f'spread{window}'])
with pd.option_context('display.max_columns', None):
    display(df_serial)

,Datetime,Open,High,Low,Close,dt,dt-1,Operation_type,cov5,spread5,bid5,ask5,cov10,spread10,bid10,ask10,cov20,spread20,bid20,ask20,cov50,spread50,bid50,ask50,cov100,spread100,bid100,ask100
0,2021-01-04 14:40:00,131.500000,132.339996,131.500000,132.059997,0.169998,-0.919998,Ask,NaN,NaN,NaN,132.059997,NaN,NaN,NaN,132.059997,NaN,NaN,NaN,132.059997,NaN,NaN,NaN,132.059997,NaN,NaN,NaN,132.059997
1,2021-01-04 14:45:00,132.000000,132.250000,131.899993,132.250000,0.190003,0.169998,Ask,NaN,NaN,NaN,132.250000,NaN,NaN,NaN,132.250000,NaN,NaN,NaN,132.250000,NaN,NaN,NaN,132.250000,NaN,NaN,NaN,132.250000
2,2021-01-04 14:50:00,132.000000,132.018096,131.520004,131.589996,-0.660004,0.190003,Bid,NaN,NaN,131.589996,NaN,NaN,NaN,131.589996,NaN,NaN,NaN,131.589996,NaN,NaN,NaN,131.589996,NaN,NaN,NaN,131.589996,NaN
3,2021-01-04 14:55:00,132.000000,132.089996,131.300003,131.448898,-0.141098,-0.660004,Bid,NaN,NaN,131.448898,NaN,NaN,NaN,131.448898,NaN,NaN,NaN,131.448898,NaN,NaN,NaN,131.448898,NaN,NaN,NaN,131.448898,NaN
4,2021-01-04 15:00:00,131.544998,131.669998,131.070007,131.119995,-0.328903,-0.141098,Bid,-0.079894,0.565312,131.119995,131.685307,NaN,NaN,131.119995,NaN,NaN,NaN,131.119995,NaN,NaN,NaN,131.119995,NaN,NaN,NaN,131.119995,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39566,2022-12-30 20:40:00,129.029998,129.130004,128.919998,129.054992,0.014999,0.019989,Ask,-0.002153,0.092807,128.962185,129.054992,-0.007281,0.170663,128.884329,129.054992,-0.002021,0.089920,128.965072,129.054992,-0.001597,0.079913,128.975079,129.054992,0.004417,0.132918,128.922074,129.054992
39567,2022-12-30 20:45:00,129.059997,129.399993,129.020004,129.380004,0.325012,0.014999,Ask,-0.002983,0.109240,129.270764,129.380004,-0.008514,0.184538,129.195466,129.380004,-0.003648,0.120792,129.259212,129.380004,-0.001944,0.088185,129.291819,129.380004,0.004450,0.133413,129.246591,129.380004
39568,2022-12-30 20:50:00,129.375000,129.929992,129.330001,129.764404,0.384400,0.325012,Ask,0.013455,0.231993,129.532411,129.764404,0.001375,0.074165,129.690239,129.764404,0.000684,0.052312,129.712092,129.764404,0.000681,0.052211,129.712193,129.764404,0.005782,0.152079,129.612325,129.764404
39569,2022-12-30 20:55:00,129.764999,129.949996,129.619995,129.949996,0.185592,0.384400,Ask,0.011183,0.211500,129.738496,129.949996,0.005165,0.143741,129.806255,129.949996,0.002100,0.091643,129.858353,129.949996,0.001991,0.089236,129.860760,129.949996,0.006512,0.161393,129.788603,129.949996
39570,2022-12-30 21:00:00,129.929992,129.929992,129.929992,129.929992,-0.020004,0.185592,Bid,0.008050,0.179443,129.929992,130.109435,0.005374,0.146617,129.929992,130.076609,0.000918,0.060612,129.929992,129.990604,0.001816,0.085220,129.929992,130.015212,0.006523,0.161527,129.929992,130.091519